.bg-1 {


}
.bg-2 {
  background-color: #374c4c;
  color: white;
}
.bg-3 {
  background-color: #212d2d;
  color: white;
}
.container-team {
  width: 100%;
  height: 188px;
  text-overflow:ellipsis;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
}
agm-map {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.img_features {
  width: 700px;
  height: 400px;
}
.carousel-control-next-icon {
  background-image : url("assets/next.png") !important;
  width: 55px !important;
  height: 55px !important;
}
.carousel-control-prev-icon {
  background-image : url("assets/previous.png") !important;
  width: 50px !important;
  height: 50px !important;

}
